<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<label>제목 : </label> <h1 th:text="${notion.title}"></h1>
<label>내용 : </label><div th:text="${notion.content}"></div>

<a th:href="@{|/notion/delete/${notion.id}|}">삭제</a>
<a th:href="@{|/notion/update/${notion.id}|}">수정</a>

<h5 th:text="|${#lists.size(notion.commentList)}개의 답변이 있습니다.|"></h5>
<div>
	<ul>
		<li th:each="comment:${notion.commentList}" th:text="${comment.content}"></li>
	</ul>
</div>
<form th:action="@{|/comment6/create/${notion.id}|}" method="post">
	<textarea name="content" id="content" rows="11"></textarea>
	<input type="submit" value="답변등록">
</form>

</form>
</body>
</html>